[submodule "themes/zola-bearblog"]
	path = themes/zola-bearblog
	url = https://codeberg.org/alanpearce/zola-bearblog
[submodule "themes/emily_zola_theme"]
	path = themes/emily_zola_theme
	url = https://github.com/kyoheiu/emily_zola_theme
